{% if form %}
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="id_new_password1" class="form-label">New Password</label>
            {{ form.new_password1 }}
            {% if form.new_password1.errors %}
            <div class="text-danger-smaall">
                {{ form.new_password1.errors }}
            </div>
            {% endif %}
        </div>
        <div class="mb-3">
            <label for="id_new_password2" class="form-label">Confirmation Password</label>
            {{ form.new_password2 }}
            {{ if form.new_password2.errors }}
            <div class="text-danger-smaall">
                {{ form.new_password2.errors }}
            </div>
            {% endif %}
        </div>
    <div class="d-flex gap-2">
        <button type="submit" class="btn-primary"><i class="fas fa-paper-plane"></i>Submit</button>
        <a href="{% url 'login' %}" class="btn-secondary"><i class="fas fa-chevron-left"></i>Back to Login Screen</a>
    </div>
    </form>
{% else %}
    <div class="alert alert-danger">
        <i class='bi bi-check-circle-fill'></i>This link is invalid. Try again.
    </div>
    <a href="{% url 'password_reset' %}" class="btn-primary mt-2"><i class="fa fa-envelop"></i>Go to reset page</a>
{% endif %}